<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
  <link rel="stylesheet" href="{{ "style.css" | relURL }}">
  <script src="{{ "app.js" | relURL }}"></script>
  <title>個人的な備忘録</title>
</head>

<body>
  <header>
    <h1><a href="{{ "/" | relURL }}">{{ block "title" . }}{{ .Site.Title }}{{ end }}</a></h1>
    <p>私のテキストサイト</p>
    <nav id="menuline">
      <ul>
        <li class="nav-open">▼</li>
        <li>{{ with site.GetPage "about" }}
          <a href="{{ .RelPermalink }}">About</a>{{ end }}
        </li>
		<li>{{ with site.GetPage "archive" }}
          <a href="{{ .RelPermalink }}">アーカイブ</a>{{ end }}
        </li>
      </ul>
    </nav>
    <nav class="menu-wrapper">
      <ul>
        <li>工事中</li>
        <li>工事中</li>
        <li>工事中</li>
      </ul>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
  <p>極小キロバイト文庫</p>
  <!--タグはここから--><table border="0" cellspacing="0" cellpadding="0"><tr><td align="center"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d1307_f6_010/69eb50f495232/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center" style="font-size:xx-small"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0"><img src="http://www.rays-counter.com/images/counter_02.gif" border="0"><img src="http://www.rays-counter.com/images/counter_03.gif" border="0"><img src="http://www.rays-counter.com/images/counter_04.gif" border="0"><img src="http://www.rays-counter.com/images/counter_05.gif" border="0"></td></tr></table><!--ここまで-->

  </footer>

</body>

</html>
