{{ $url := .Get 0 }}
{{ $api := printf "https://api.microlink.io/?url=%s" $url }}

{{ with resources.GetRemote $api }}
  {{ $json := . | transform.Unmarshal }}
  {{ with $json.data }}
    {{ $title := .title }}
    <a href="{{ $url }}" class="embed-card" target="_blank" rel="noopener">
      {{ with .image }}
        <div class="thumb">
          <img src="{{ .url }}" alt="{{ $title }}">
        </div>
      {{ end }}
      <div class="meta">
        <strong>{{ $title }}</strong>
        <p>{{ .description }}</p>
      </div>
    </a>
  {{ end }}
{{ else }}
  <a href="{{ $url }}">{{ $url }}</a>
{{ end }}